
 #Lektion 7

# Slicing = skapa en så kallad "substring" genom att hämta olika delar från en annan string.
# Vi kommer använda oss av två olika funktioner för att "Slica" en string.
# Indexing[](indexing operator) eller slice() funktionen.

# Det finns tre olika fält vi kan fylla in för att beskriva vart och hur en string ska "slica"
 #[start:stop:step]


#               Exempel 1

# Första exemplet kommer gå in på hur index[] "Slicing" fungerar.
# För att separera förnamnet från ett namn skrivs positionen hos den första och sista bokstaven i förnamnet in.
# Genom att definiera variabeln "förnamn" som platsen där förnamnet befinner sig inom variabeln "namn" kan förnamnet slutligen "printas".
 #[start:stop] --> [M:e] --> [0:3]

namn = "Moe Szyslak"
förnamn = namn[0:3]
print("Ditt förnamn är "+förnamn+ "!")
print()
# print(förnamn) --> Moe
# ifall "förnamn = namn[0]" kommer endast bokstaven "M" "printas".


#               Exempel 2

# För att istället få fram efternamnet man göra en ytterligare "Slicing".
efternamn = namn[4:11]

print("Ditt efternamn är "+efternamn+"!")
print()


#               Exempel 3

# Vi kan nu även börja använda "step" delen vid Slicing.
# När man använder sig av "step" kommer koden hoppa över delar av en "substring".
# Python antar att du menar början och slutet av "stringen" då "start" och "stop" är tomma.
 #[start:stop:step] --> [o:k:varannan] --> MeSylk
halvnamn = namn[::2]
print("Ditt namn med varannan bokstav är "+halvnamn+"!")
print()
# Ifall "tap" = 3 kommer var tredje bokstav "printas".
 #print(halvnamn) --> M-- --y--a- --> M ya


#               Exempel 4

# Genom att skriva step = -1 kommer "stringen" skrivas baklänges.
omvänt_namn = namn[::-1]
print("Ditt namn baklänges är "+omvänt_namn+"!")
print()


#               Exempel 5

#Vi ska nu använda oss av "slice()" för att 
hemsida_1 = "https://wikipedia.org"
slice_1 = slice(8,-4)
print("Hemsidans namn är "+hemsida_1[slice_1]+"!")
print()


#               Exempel 6
# Här kan vi göra samma process som innan för att exportera ut namnet på en hemsida ur dess URL.

hemsida_2 = "https://www.youtube.com"
slice_2 = slice(12,-4)
print("Hemsidans namn är "+hemsida_2[slice_2]+"!")
print()
